@import custom_bootstrap
@import url(http://fonts.googleapis.com/css?family=Patua+One)

$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/"

// bower:scss
@import ../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss
// endbower

$light-grey: #afb3b9

.navbar-brand img
  margin-top: -5px
  font-family: 'Patua One', cursive

.browsehappy
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

/* Space out content a bit */
body
  font-size: $font-size-base + 2px
  padding-top: 50px
  padding-bottom: 20px
  background: url('../images/background.png')
  & > .container
    background-color: #fff
    box-shadow: 0 0 10px #AAA
    padding-bottom: 10px

.jumbotron
  text-align: center
.back-jumbotron
  margin-top: 20px
  background: url('../images/background_logo.png')
  background-repeat: no-repeat
  background-position: center

.sidepanel
  margin-top: 20px
  .panel-body
    font-size: 12px
  .news-title
    font-weight: bold

h1,h2,h3,h4,h5,h6
  color: $darker-blue

a
  color: $dark-blue
  &:hover
    color: $darker-blue
    text-decoration: none

.pull-left
  margin-right: 10px
.pull-right
  margin-left: 10px

.caption
  font-style: italic
  text-align: center
  color: $darker-blue

.horaires-img
  opacity: 0.5

.footer
  margin-top: 20px
  border-top: 1px dashed $light-grey
  padding-top: 10px
  color: $light-grey

#trombinoscope
  li
    list-style-type: none
    display: inline-block
    img
      width: 150px
      margin: 5px