---
section : Club
page : Le bureau
title : Club - Le bureau
order : 4
---

<h2>Le bureau</h2>

<p><strong>Enseignant : </strong> Éric Marchand - 5ème Dan de l’Aïkikaï de Tokyo - diplomé d'Etat 1er degré - Délégué
    technique régional pour la Basse-Normandie.</p>


<p><strong>Président : </strong>Philippe Clément - 1er Kyu</p>


<p><strong>Trésorier : </strong>Luc Mazon – 2ème Kyu</p>


<p><strong>Contactez Nous :</strong></p>
<ul>
    <li><strong>Par email :</strong> aikido.vernon@gmail.com</li>
    <li><strong>Portable :</strong> 06 12 95 71 48</li>
</ul>
