---
section : Club
page : Le bureau
title : Club - Le bureau
order : 4
---

<h2>Le bureau</h2>

<p><strong>Président : </strong>Vincent RAOUT</p>
<p><strong>Trésorier : </strong>Jean-Charles SUNYE</p>
<p><strong>Secrétaire : </strong>Svetlana BOGDANOVSKA</p>


Pour nous contacter, rendez-vous sur la page <a href="contact.html">Contact</a>.
