---
section : Club
page : Dojo
title : Club - Dojo
order : 2
---

<div class="container">
    <h2>Le dojo</h2>

    <p>Situé rue Robert Schuman à Vernon (27200), le complexe sportif municipal de Gamilly accueille les pratiquants du
        club d’Aïkido dans un superbe dojo de 288 m2 (16 x 18 m), soit une capacité maximale de 72 participants par
        cours. Les séances se déroulent tous grades confondus ce qui permet aux moins expérimentés d'être pris en charge
        par les plus anciens (et/ou aux plus gradés) et cela sous le regard permanent du professeur. Les postulants au
        Brevet Fédéral, au Brevet d’Etat et aux différents grades bénéficient aussi d’une aide soutenue.
        En 20 ans d’enseignement, Eric MARCHAND (5ème DAN), professeur diplômé d’Etat 1er degré (assistant de Bernard
        PALMIER, DTR 7ème DAN, à l’école des cadres de la ligue Ile de France), a formé de nombreux élèves dont plus de
        30 ont accédé aux grades de premier à quatrième dan.</p>
</div>
