---
section : Club
page : Horaires
title : Club - Horaires
order : 1
---

<h2>Les horaires</h2>

<img class="pull-right horaires-img img-responsive" src="images/club/horaires.png"/>

<div class="col-md-9">

    <h3 class="text-danger">Adultes et Adolescents (de 13 à 18 ans)</h3>

    <p><strong>MARDI et JEUDI</strong> - 19h45 à 21h30</p>

    <div class="well">À partir de novembre : une partie des cours sera consacrée à la pratique des armes (environ 30min)</div>
</div>