---
section : Club
page : Horaires
title : Club - Horaires
order : 1
---

<div class="container">
    <h2>Les horaires</h2>

    <h3 class="text-danger">Enfants (de 8 à 12 ans)</h3>
    <p><strong>MARDI et JEUDI</strong> - 17h30 à 18h20</p>

    <h3 class="text-danger">Adolescents</h3>
    <p><strong>MARDI et JEUDI</strong> - 18h30 à 19h30</p>
    <div class="well">Selon le niveau (évalué individuellement), possibilité de venir au cours du samedi</div>

    <h3 class="text-danger">Adultes</h3>
    <p><strong>MARDI et JEUDI</strong> - 19h45 à 21h30<p>
    <div class="well">À partir de novembre : une partie des cours sera consacrée à la pratique des armes (environ 30min)</div>

    <p><strong>SAMEDI</strong> - 17h00 à 19h00</p>
</div>
