---
section : Club
page : Le professeur
title : Club - Le professeur
order : 3
---

<h2>Le Professeur</h2>

<p>
    Éric Marchand débute en 1976, à l'âge de 12 ans, avec les adultes du club de Vernon.
    En 1983, il rencontre Bernard Palmier et devient l'un de ses élèves.
</p>

<p>
    Puis, tout s'enchaîne.
</p>

<img class="pull-right img-responsive img-rounded" src="images/club/eric.png"/>

<ul>
    <li>1984 : 1er dan</li>
    <li>1985 : brevet fédéral et prise en charge de la section Enfants du club de Vernon</li>
    <li>1986 : 2<sup>ème</sup> dan</li>
    <li>1988 : se voit confier la direction du dojo, qu'il n'a jamais quitté</li>
    <li>1995 : 3<sup>ème</sup> dan</li>
    <li>1999 : 4<sup>ème</sup> dan</li>
    <li>2007 : 5<sup>ème</sup> dan</li>
</ul>
<p>
    Tous ces grades sont reconnus par le centre mondial de l'Aïkido à Tokyo (Aïkikaï).
</p>

<p>
    En parallèle, il répond aux invitations d'autres professeurs (Arnaud Waltz, 6<sup>ème</sup> dan DTR, Josette Nickels, 5<sup>ème</sup> dan…)
    pour donner des cours ou animer des stages, co-anime pendant trois ans des stages de ligue en Picardie avec
    Pascal Norbelly (6<sup>ème</sup> dan DTR) et forme les enseignants en Haute-Normandie.
</p>

<p>
    Il assiste Bernard Palmier Shihan (7<sup>ème</sup> dan Aïkikaï) à l'école des cadres de l'Île-de-France depuis plus de 20 ans, et officie en tant que juré pour les passages
    de grades et les brevets fédéraux.
</p>

<p>
    Depuis 2008, il anime également un cours hebdomadaire dédié aux relations entre la pratique des armes et le travail à mains nues à l'ACT (Aïkido, culture
    et tradition) à Paris.
</p>

<p>
    Dès 2012, Éric a la délégation technique (DTR) pour la Basse-Normandie et devient membre du collège technique national de la fédération (FFAAA) en 2013.
</p>

<p>
    Par respect pour ses élèves, et pour alimenter sa recherche, il ne conçoit pas d'enseigner sans pratiquer, ce qui l'a amené à rencontrer les experts japonais
    et français qui ont contribué au développement de l'Aïkido, tels que les maîtres Kobayashi, Saïto, Yamaguchi, Endo, Yasuno, Christian Tissier, Franck Noël…
</p>

<p>
    C'est en effet un point fort de la structure fédérale à laquelle il appartient : une pluralité d'experts avec des racines communes fortes, et la
    liberté de pratiquer dans cette diversité.
</p>
