---
section : Club
page : Le professeur
title : Club - Le professeur
order : 3
---

<div class="container">
    <h2>Le professeur</h2>

    <p><strong>Éric, peux-tu nous retracer ton parcours ?</strong></p>


    <p>Et bien, j’ai débuté au cours de la saison 1976-1977, j’avais 12 ans et j’étudiais parmi les adultes de Vernon
        (il n’y avait qu’une seule section à cette époque) ; maintenant j’y enseigne depuis plus de 20 ans. Pour ce qui
        est de mon parcours, j’ai été reçu pour le 1er DAN en 1984. Dès 1985 je donnais des cours enfants à Vernon. J’ai
        été admis au 2ème DAN en 1986 et deux ans plus tard je me voyais confier la direction complète du dojo. Ce ne
        fut qu’en 1995 que je présentais le 3ème DAN. Entre temps j’obtenais le diplôme de Monitorat Fédéral (1985)
        ainsi que le Brevet d’Etat 1er degré(1988) ; le 4ème DAN en 1999, et plus récemment le 5ème DAN en mars
        2007.Tous mes grades DAN ont étés reconnus par le centre mondial de l’Aïkido a Tokyo (Aïkikaï).</p>


    <p><strong>Durant cette période, quels évènements (ou rencontres) majeurs retiens-tu ?</strong></p>


    <p>À cette époque, l’Aïkido était moins structuré qu’il ne l’est aujourd’hui, alors nous cherchions des références
        tous azimuts. J’ai ainsi croisé Maître Noquet (comme beaucoup d’entre nous) mais également KOBAYASHI senseï,
        SAÏTO senseï, ENDO senseï, YAMAGUCHI senseï, YASUNO senseï, ainsi que la plupart des senseï japonais qui ont
        contribué au développement de l’aïkido en France. Concernant nos experts français, j’ai fait la connaissance de
        Bernard PALMIER en 1983 (il était 3ème DAN) et je suis rapidement devenu un de ses élèves ; aujourd’hui, il est
        toujours mon professeur.</p>


    <p><strong>Du point de vue de l’enseignement quelles sont tes activités ?</strong></p>


    <p>L’enseignement de l’aïkido est mon seul métier depuis plus de dix ans. Je dirige le dojo de Vernon. J’ai aussi
        animé des cours à Val-de-Reuil (27), à Evreux (27), à Epône (78), et à Limay (78) ; j'ai également animé un
        cours d’armes au sein du dojo de Josette NICKELS (5ème DAN) à Châtillon dans le 92.Par ailleurs, j’assiste
        Bernard PALMIER à l’école des cadres de l’île de France et aux cours d’armes mensuels de cette même ligue depuis
        de très nombreuses années (24ans). Et maintenant je dirige un cours hebdomadaire au sein de son dojo dédié aux
        relations entre la pratique des armes et le travail a mains nues. De plus, je l’accompagne régulièrement en
        Belgique, en Italie et dans les DOM-TOM pour les stages et des formations pour les enseignants.</p>

    <p>Ces diverses actions me conduisent à une remise en cause permanente. D’où l’importance de stages comme celui de
        Dinard animé par Franck NOEL (7ème DAN) et Bernard PALMIER (7ème DAN) ; ainsi que la formation des jurys
        d’examens à laquelle je participe régulièrement et ce, afin de réduire les écarts entre la pratique,
        l’enseignement et l’évaluation. L’Aïkido est un art martial qui continue d’évoluer et c’est très motivant ; pour
        cette raison, je ne conçois pas d’enseigner sans pratiquer ; par respect pour mes élèves mais également pour ma
        progression.</p>

    <p><strong>À propos de la pratique justement, peux-tu nous en dire plus ?</strong></p>

    <p>Je m’organise pour être le plus assidu possible aux stages qui nous sont proposés et au regard de leur nombre
        (parfois plusieurs stages le même jour à cent kilomètres alentours), il est souvent difficile de participer à
        tous. Mais c’est aussi un point fort de notre structure : une pluralité d’experts avec des racines communes
        fortes et la liberté de choisir parmi cette diversité.</p>

    <p>Il faut être capable de la plus grande ouverture d’esprit possible, mais sans se perdre ; c’est pour cela que je
        suis présent au stage d’Autans (en juillet près de Grenoble) depuis près de 25 ans. Hormis les stages, j'étudie
        régulièrement au dojo de Bernard PALMIER à Paris (75 rue de l’Ourcq dans le 19ème). En conclusion, après toutes
        ces années, les choses deviennent plus accessibles, des éclairages nouveaux nous sont proposés et la voie
        s’élargit devant nous.</p>

    <p><strong>Concernant les stages, en animes-tu ?</strong></p>

    <p>Oui, ponctuellement car mon planning est très chargé. Mais en prévoyant longtemps à l’avance, je réponds par
        exemple aux invitations d’Arnaud WALTZ (6ème DAN) deux ou trois fois par an ainsi qu’aux sollicitations de dojos
        comme La Charité-sur-Loire(58), Cosne Sur Loire(58), Saint Paul Trois Châteaux(26), Poissy(78), Un stage annuel
        en coanimation avec Laurent FEY(4éme dan) a Forbach(57) et j’ai aussi eu l’occasion d’animer pendant trois ans
        des stages de ligue en Picardie grâce à Pascal NORBELLY(DTR Picardie 6ème DAN). J’anime aussi quelques stages
        enfants dans l’Essonne et en Haute Normandie .</p>
</div>