---
section : Aïkido
page : Qu'est-ce que c'est ?
title : Aïkido Vernon - L'Aïkido - qu'est-ce que c'est ?
order : 1
---

<h2>L'aïkido, qu'est-ce que c'est ?</h2>

<img class="pull-right img-responsive img-rounded" src="images/aikido/2241.jpg"/>

<p>L'Aïkido (合気道) est un art martial qui propose de répondre à une agression sans avoir recours à la violence.</p>

<p>Le principe est d'accompagner l'attaque afin de rendre l'adversaire inoffensif.</p>

<p>La force n'entre pas dans la logique de la pratique. Elle est supplantée par la souplesse, la fluidité, la concentration et la précision du geste.</p>

<h2>Bien-être</h2>

<img class="pull-left img-responsive img-rounded" src="images/aikido/1454.jpg"/>
<p>L'Aïkido participe au maintien d'une bonne santé, tant physique que mentale.</p>

<p>Les mouvements respectent l'intégrité du corps et développent des qualités bien spécifiques, comme une perception accrue de l'environnement
    et la prise de recul face aux évènements difficiles. L'enseignement dispensé, d'un niveau technique avancé, permet une évolution constante.</p>

<p>Accessible à toutes et à tous, cette activité apporte énergie et sérénité.</p>

<h2>Esprit des arts martiaux</h2>
<img class="pull-right img-responsive img-rounded" src="images/aikido/1456.jpg"/>

<p>Structurée autour de valeurs fortes, c'est une discipline sans compétition qui aide à (re)trouver le calme et un équilibre harmonieux, à mieux gérer le stress, loin du quotidien.</p>

<h2>Confiance et plaisir</h2>

<p>La pratique de l'Aïkido accroît la confiance en soi. Elle sera vécue au sein d'un club qui favorise les échanges et la convivialité, et où chacun progresse à son rythme.</p>

<h2>Comment se pratique l'Aïkido ?</h2>

<img class="pull-left img-responsive img-rounded" src="images/aikido/2005.jpg"/>
<p>L'Aïkido utilise des techniques de projections et d'immobilisations avec un ou plusieurs partenaires, armés ou non.
    La progression est ponctuée par des passages de grades (KYU et DAN).</p>

<p>Une séance comprend 3 phases : La préparation physique et mentale, l'expérimentation des principes au travers du travail des techniques et le retour au calme.</p>

<p>L'Aïkido se pratique avec un partenaire, et non contre un adversaire.</p>

