---
section : Aïkido
page : Qu'est-ce que c'est ?
title : Aïkido Vernon - L'Aïkido - qu'est-ce que c'est ?
order : 1
---

<div class="container">
    <h2>L'aïkido, qu'est-ce que c'est ?</h2>

    L'aïkido (合気道, aikido) est un budo (méthode d'éducation issue d'un art martial japonais), fondé par Morihei Ueshiba
    au XXe siècle, entre 1930 et 1960. Il a été officiellement reconnu par le gouvernement japonais en 1940 sous le nom
    d’aikibudo. Il est basé sur des écoles d'arts martiaux anciennes, essentiellement le ju-jitsu de l'école daito ryu,
    l'escrime ou kenjutsu et l'aikijutsu.
    L'aïkido est né de la rencontre entre ces techniques de combat et une réflexion métaphysique de Morihei Ueshiba sur
    le sens de la pratique martiale à l'ère moderne.
    L'aïkido se compose de techniques avec armes et à mains nues utilisant la force de l'adversaire, ou plutôt son
    agressivité et sa volonté de nuire. Ces techniques visent non pas à vaincre l'adversaire, mais à réduire sa
    tentative d'agression à néant. L'aïkido peut être considéré comme la concrétisation du concept de légitime défense :
    une réaction proportionnée et immédiate à une agression. En fait, dans l'esprit de l'aïkido, il n'y a pas de combat,
    puisque celui-ci se termine au moment même où il commence.
</div>