---
section : Contact
page : Contact
title : Contact
---

<h2>Contact</h2>

<ul>
    <li><strong>Par email :</strong> <a href="mailto:aikido.vernon@gmail.com">aikido.vernon@gmail.com</a></li>
    <li><strong>Portable :</strong> 06 12 95 71 48</li>
</ul>

<p>Si vous souhaitez nous contacter, remplissez le formulaire suivant, nous vous répondrons dès que possible !</p>

<div class='contact-form'>
    <form method="POST" action="http://formspree.io/aikido.vernon@gmail.com">

        <div class="form-group">
            <label for="nom">Votre nom</label>
            <input name="nom" type="text" class="form-control" id="nom" placeholder="Entrez votre nom">
        </div>

        <div class="form-group">
            <label for="email">Adresse email <span class="text-danger">*</span></label>
            <input name="_replyto" type="email" class="form-control" id="email" placeholder="Votre email pour la réponse">
        </div>

        <div class="form-group">
            <label for="textArea">Votre message <span class="text-danger">*</span></label>
            <textarea id="message" name="message" class="form-control" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>