---
section : Accueil
page : Accueil
title : Aïkido Vernon
---

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="images/kanji.png"/>
        </div>
        <div class="col-md-8 back-jumbotron">
            <br/>
            <br/>
            <h2>Bienvenue sur le site de l'Aïkido-club de Vernon</h2>
            <br/>
            <h3>Vous y découvrirez de nombreuses informations régulièrement mises à jour.</h3>
            <br/>
            <br/>
        </div>
    </div>
</div>


<hr/>
<h2>Actualités</h2>
<h3>C'est la rentrée !</h3>
<p>Les cours adulte ont repris le 5 septembre. Ils ont lieu les mardis et les jeudis à 19h30.</p>
<p>Les cours enfants vont reprendre le 12 septembre. Ils ont lieu les mardis et les jeudis à 18h00.</p>
<p>Une permanence est assurée pour les nouveaux venus ; n'hésitez pas à venir nous voir et échanger avec nous !</p>
<p>Vous pouvez dès maintenant vous présenter pour un cours d'essai. Vous n'aurez besoin que d'une simple tenue de sport pour commencer !</p>
<p>Nous serons également présent au <a href="http://www.vernon27.fr/actualites/le-village-des-associations/">forum des associations de Vernon</a>, qui a lieu Dimanche 10 septembre au parc des tourelles. Ne ratez pas notre démonstration, programmée à 14h30.
</p>
<h3>ASSEMBLEE GENERALE</h3>
Le 29 juin 2017 à 21h00 <br/>
Au Dojo de Gamilly <br/>
Rue R. Schumann <br/>
27200 Vernon <br/>
(L’assemblée se déroulera à la fin du cours)  <br/>
<h3> Photos : le stage de Bruno Cassard du 18 juin</h3>
<img class="img-responsive" src="images/aikido/FOT43D9.jpg"/>
<img class="img-responsive" src="images/aikido/FOT609A.jpg"/>


<h3> Philippe obtient son premier dan ! </h3>
Félicitations à Philippe Clément, notre cher président, qui a obtenu ce 4 juin 2017 son premier dan.
<img class="img-responsive" src="images/aikido/photo 1 dan.jpg"/>
<img class="img-responsive" src="images/aikido/photo 1er DAN.jpg"/>
<h3>Le 18 juin 2017, stage avec Bruno CASSARD, 5 ème DAN</h3>
Tarif : 5 Euros
<img class="img-responsive" src="images/aikido/stage 18.png"/>
<h3>8 et 9 octobre 2016 Stage d'ouverture de la saison 2016 - 2017 avec Pascal Norbelly</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/g_LhnQbZCjo" frameborder="0" allowfullscreen></iframe>
   <div class="tab-pane" id="tab-trimestre">
        <table class="table table-bordered">
            <tr>
                <td><strong>Samedi 8 Octobre</strong></td>
                <td><strong>Dimanche 9 Octobre</strong></td>
            </tr>
            <tr>
                <td>15h30 - 18h00</td>
                <td>9h30 - 12h00</td>
            </tr>
            <tr>
                <td></td>
                <td>14h30 - 18h00</td>
            </tr>
        </table>
    </div>
   <div class="well">Rendez-vous au Dojo de Gamilly<br/>Salle de Gamilly<br/>Rue Robert Schumann<br/>27200 Vernon</div>

<h4 class="text-info">Portes ouvertes à chaque cours toute l'année.</h4>
<h4 class="text-info">Inscriptions toute la saison.</h4>

<p>Les horaires des cours sont disponibles <a href="horaires.html">ici</a>.</p>

<p>Pour faciliter les formalités administratives, les documents indispensables à vos inscriptions
    sont disponibles en téléchargement à la page <a href="inscriptions.html">inscription.</a></p>

<p>Pour vos demandes personnalisées, <a href="contact.html">écrivez-nous !</a></p>

<p>Rejoignez-nous sur facebook <a target="_blank" href="https://www.facebook.com/pages/Aïkido-Vernon/365960430146065"><img src="images/facebook.png"/></a></p>

