---
section : Accueil
page : Accueil
title : Aïkido Vernon
---

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="images/kanji.png"/>
        </div>
        <div class="col-md-8 back-jumbotron">
            <h2>Bienvenue sur le site d'<a href="professeur.html">Éric MARCHAND</a>, 5<sup>ème</sup> Dan de l'Aïkikaï de Tokyo, membre du collège technique national FFAAA, délégué technique pour la Basse-Normandie</h2>

            <h3>Vous y découvrirez de nombreuses informations régulièrement mises à jour.</h3>
        </div>
    </div>
</div>

<h3>Rentrée 2014/2015</h3>

<p class="text-warning">Attention : Seulement les dossiers complets permettront l'accès aux cours.
    Pensez à préparer votre formulaire d'inscription et votre certificat médical.</p>

<ul>
    <li>Premier cours adultes le jeudi 4 septembre à 19h45</li>
    <li>Premier cours adolescents le jeudi 11 septembre à 18h30</li>
    <li>Premier cours enfants le mardi 16 septembre à 17h30</li>
</ul>


<h4 class="text-info">Portes ouvertes à chaque cours toute l'année.</h4>
<h4 class="text-info">Inscriptions toute la saison.</h4>

<p>Les horaires des cours sont disponibles <a href="horaires.html">ici</a>.</p>

<p>Pour faciliter les formalités administratives, les documents indispensables à vos inscriptions
    sont disponibles en téléchargement à la page <a href="inscriptions.html">inscription.</a></p>

<p>Pour vos demandes personnalisées, <a href="contact.html">écrivez-nous !</a></p>

<p>Rejoignez-nous sur facebook <a target="_blank" href="https://www.facebook.com/pages/Aïkido-Vernon/365960430146065"><img src="images/facebook.png"/></a></p>

