---
section : Accueil
page : Accueil
title : Aïkido Vernon
---

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="images/kanji.png"/>
        </div>
        <div class="col-md-8 back-jumbotron">
            <br/>
            <br/>
            <h2>Bienvenue sur le site de l'Aïkido-club de Vernon</h2>
            <br/>
            <h3>Vous y découvrirez de nombreuses informations régulièrement mises à jour.</h3>
            <br/>
            <br/>
        </div>
    </div>
</div>


<hr/>
<h2>Actualités</h2>
<h4 class="text-info">Echange avec le dojo de Evreux</h4>
<div class = "well"><p><b>Le jeudi 8 février</b> aura lieu au dojo du Grévarin (Vernon) le premier interclub de l'année avec le club d'Aïkido de Evreux. Exceptionellement les cours commenceront à 19h15 et se termineront à 21h15 avec un pot de l'amitié.</p>
<p>Nous pouvons d'ores et déjà annoncer que cet interclub ne sera pas le dernier de l'année !</p>
</div>
<h4 class="text-info">Cours Aikido jeunes : Opération portes ouvertes</h4>
<div class = "well"><p>Le 9 novembre, le club d'Aïkido de Vernon organise un cours portes ouvertes. Le professeur sera présent de 18h00 à 19h15, pour permettre aux plus jeunes (de 10 à 13 ans), de découvrir et s'initier à notre art martial.</p>
<p>Le cours sera gratuit,et sans engagement, et sera assuré par notre professeur M. Delestre, titulaire du brevet fédéral d'enseignant.</p>

Les personnes intéressées n'auront besoin d'apporter qu'un vêtement de sport.

Venez nombreux !
</div>
<h4 class="text-info">C'est la rentrée !</h4>
<p>Les cours adulte ont repris le 5 septembre. Ils ont lieu les mardis et les jeudis à 19h30.</p>
<p>Les cours enfants vont reprendre le 14 septembre. Ils auront lieu le jeudi à 18h00.</p>
<p>Une permanence est assurée pour les nouveaux venus ; n'hésitez pas à venir nous voir et échanger avec nous !</p>
<p>Vous pouvez dès maintenant vous présenter pour un cours d'essai. Vous n'aurez besoin que d'une simple tenue de sport pour commencer !</p>
<p>Nous serons également présent au <a href="http://www.vernon27.fr/actualites/le-village-des-associations/">forum des associations de Vernon</a>, qui a lieu Dimanche 10 septembre au parc des tourelles. Ne ratez pas notre démonstration, programmée à 14h30.
</p>
<!--<div class = "well">
<h4 class="text-info">Portes ouvertes à chaque cours toute l'année.</h4>
<h4 class="text-info">Inscriptions toute la saison.</h4>

<p>Les horaires des cours sont disponibles <a href="horaires.html">ici</a>.</p>

<p>Pour faciliter les formalités administratives, les documents indispensables à vos inscriptions
    sont disponibles en téléchargement à la page <a href="inscriptions.html">inscription.</a></p>

<p>Pour vos demandes personnalisées, <a href="contact.html">écrivez-nous !</a></p>
</div>-->
<h3>ASSEMBLEE GENERALE</h3>
Le 29 juin 2017 à 21h00 <br/>
Au Dojo de Gamilly <br/>
Rue R. Schumann <br/>
27200 Vernon <br/>
(L’assemblée se déroulera à la fin du cours)  <br/>
<h3> Photos : le stage de Bruno Cassard du 18 juin</h3>
<img class="img-responsive" src="images/aikido/FOT43D9.jpg"/>
<img class="img-responsive" src="images/aikido/FOT609A.jpg"/>


<h3> Philippe obtient son premier dan ! </h3>
Félicitations à Philippe Clément, notre cher président, qui a obtenu ce 4 juin 2017 son premier dan.
<img class="img-responsive" src="images/aikido/photo 1 dan.jpg"/>


<!--<p>Rejoignez-nous sur facebook <a target="_blank" href="https://www.facebook.com/pages/Aïkido-Vernon/365960430146065"><img src="images/facebook.png"/></a></p>-->

