---
section : Accueil
page : Accueil
title : Aïkido Vernon
---

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="images/kanji.png"/>
        </div>
        <div class="col-md-8 back-jumbotron">
            <br/>
            <br/>
            <h2>Bienvenue sur le site de l'Aïkido-club de Vernon</h2>
            <br/>
            <h3>Vous y découvrirez de nombreuses informations régulièrement mises à jour.</h3>
            <br/>
            <br/>
        </div>
    </div>
</div>


<hr/>
<h2>Actualités</h2>
<h3>8 et 9 octobre 2016 Stage d'ouverture de la saison 2016 - 2017 avec Pascal Norbelly</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/g_LhnQbZCjo" frameborder="0" allowfullscreen></iframe>
   <div class="tab-pane" id="tab-trimestre">
        <table class="table table-bordered">
            <tr>
                <td><strong>Samedi 8 Octobre</strong></td>
                <td><strong>Dimanche 9 Octobre</strong></td>
            </tr>
            <tr>
                <td>15h30 - 18h00</td>
                <td>9h30 - 12h00</td>
            </tr>
            <tr>
                <td></td>
                <td>14h30 - 18h00</td>
            </tr>
        </table>
    </div>
   <div class="well">Rendez-vous au Dojo de Gamilly<br/>Salle de Gamilly<br/>Rue Robert Schumann<br/>27200 Vernon</div>

<h4 class="text-info">Portes ouvertes à chaque cours toute l'année.</h4>
<h4 class="text-info">Inscriptions toute la saison.</h4>

<p>Les horaires des cours sont disponibles <a href="horaires.html">ici</a>.</p>

<p>Pour faciliter les formalités administratives, les documents indispensables à vos inscriptions
    sont disponibles en téléchargement à la page <a href="inscriptions.html">inscription.</a></p>

<p>Pour vos demandes personnalisées, <a href="contact.html">écrivez-nous !</a></p>

<p>Rejoignez-nous sur facebook <a target="_blank" href="https://www.facebook.com/pages/Aïkido-Vernon/365960430146065"><img src="images/facebook.png"/></a></p>

