---
section : Inscriptions
page : Inscriptions
title : Inscriptions
jspdf : true
---

<h2>Inscriptions</h2>

<p>Les inscriptions pour la saison sont effectuées courant septembre et octobre. Une permanence est assurée au Club
    durant cette période. Il est également possible de s'inscrire en cours de saison. N'hésitez pas à contacter le Club
    pour tout renseignement complémentaire.</p>

<h3>Formalités</h3>

<ul>
    <li>Remplir et signer la fiche individuelle d'inscription (signature du représentant légal pour les mineurs) Fiche
        disponible en téléchargement et sur place.
    </li>
    <li>Remplir l'imprimé de demande de licence FFAAA que vous fournira le Club</li>
    <li>Présenter votre dossier d'inscription au secrétariat du Club</li>
</ul>

<h3>Pièces à fournir</h3>

<ul>
    <li>Une adresse email valide ou 3 enveloppes timbrées libellées à votre nom et adresse.</li>
    <li>Chèque(s) ou espèces. (possibilité de paiement en plusieurs fois possible - voir sur place)</li>
    <li>Un certificat médical (<strong class="text-danger">INDISPENSABLE DÈS LE PREMIER COURS</strong>)</li>
</ul>

<h3>Documents complémentaires</h3>
<ul>
    <li><a href="resources/certificat_medical_vernon.pdf" download="certificat_medical_vernon.pdf">Modèle de certificat médical</a></li>
    <li><a href="resources/demande_de_passeport_FFAAA.pdf" download="demande_de_passeport_FFAAA.pdf">Formulaire de demande de passeport FFAAA</a></li>
</ul>

<h3>Prix des cours</h3>

<ul class="nav nav-tabs">
    <li class="active"><a href="#tab-annee" data-toggle="pill">À l'année (possibilité de paiement en trois fois)</a></li>
    <li><a href="#tab-trimestre" data-toggle="pill">Au trimestre</a></li>
    <li><a href="#tab-mois" data-toggle="pill">Au mois</a></li>
    <li><a href="#tab-carnet" data-toggle="pill">Au carnet (10 cours)</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="tab-annee">
        <table class="table table-bordered">
            <tr>
                <td><strong>Homme</strong></td>
                <td>237€</td>
            </tr>
            <tr>
                <td><strong>Femme/couple</strong></td>
                <td>198€</td>
            </tr>
            <tr>
                <td><strong>Adolescents (13 à 18 ans)</strong></td>
                <td>168€</td>
            </tr>
            <tr>
                <td><strong>Enfants (8 à 12 ans)</strong></td>
                <td>114€</td>
            </tr>
        </table>
    </div>

    <div class="tab-pane" id="tab-trimestre">
        <table class="table table-bordered">
            <tr>
                <td><strong>Homme</strong></td>
                <td>149€/1er trim puis 69€/trim (soit 287€)</td>
            </tr>
            <tr>
                <td><strong>Femme/couple</strong></td>
                <td>132€/1er trim puis 56€/trim (soit 244€)</td>
            </tr>
            <tr>
                <td><strong>Adolescents (13 à 18 ans)</strong></td>
                <td>113€/1er trim puis 46€/trim (soit 205€)</td>
            </tr>
            <tr>
                <td><strong>Enfants (8 à 12 ans)</strong></td>
                <td>79€/1er trim puis 34€/trim (soit 144€)</td>
            </tr>
        </table>
    </div>

    <div class="tab-pane" id="tab-mois">
        <table class="table table-bordered">
            <tr>
                <td><strong>Homme</strong></td>
                <td>30€/mois + 35€ de licence et 40€ d'adhésion le premier mois</td>
            </tr>
            <tr>
                <td><strong>Femme/couple</strong></td>
                <td>25€/mois + 35€ de licence et 40€ d'adhésion le premier mois</td>
            </tr>
            <tr>
                <td><strong>Adolescents (13 à 18 ans)</strong></td>
                <td>20€/mois + 35€ de licence et 30€ d'adhésion le premier mois</td>
            </tr>
            <tr>
                <td><strong>Enfants (8 à 12 ans)</strong></td>
                <td>12€/mois + 25€ de licence et 20€ d'adhésion le premier mois</td>
            </tr>
        </table>
    </div>

    <div class="tab-pane" id="tab-carnet">
        <table class="table table-bordered">
            <tr>
                <td><strong>Adultes</strong></td>
                <td>80€ (+35€ de licence et 40€ d'adhésion au club)</td>
            </tr>
        </table>
    </div>
</div>


<h3>Formulaire d'inscription</h3>

<form id="inscription" class="form-horizontal" role="form">

<div class="panel panel-info">
    <div class="panel-heading">Informations générales</div>

    <div class="panel-body">

        <div class="form-group">
            <label for="nom" class="col-sm-2 control-label">Nom</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="nom">
            </div>
        </div>
        <div class="form-group">
            <label for="prenom" class="col-sm-2 control-label">Prénom</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="prenom">
            </div>
        </div>

        <div class="form-group">
            <label for="date-de-naissance" class="col-sm-2 control-label">Date de naissance</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="date-de-naissance">
            </div>
        </div>

        <div class="form-group">
            <label for="sexe" class="col-sm-2 control-label">Sexe</label>

            <div class="col-sm-10 btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" class="form-control" name="sexe" id="homme">Homme
                </label>
                <label class="btn btn-default">
                    <input type="radio" class="form-control" name="sexe" id="femme">Femme
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="cours" class="col-sm-2 control-label">Cours</label>

            <div class="col-sm-10 btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" class="form-control" name="cours" id="adulte">Adulte
                </label>
                <label class="btn btn-default">
                    <input type="radio" class="form-control" name="cours" id="ado">Ado
                </label>
                <label class="btn btn-default">
                    <input type="radio" class="form-control" name="cours" id="enfant">Enfant
                </label>
            </div>
        </div>

        <div id="parent-form" class="panel panel-default">
            <div class="panel-heading">Responsable légal</div>
            <div class="form-group">
                <label for="parent" class="col-sm-2 control-label">Responsable légal</label>

                <div class="panel-body">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="parent" placeholder="Nom Prénom">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="date-de-naissance-parent" class="col-sm-2 control-label">Date de naissance</label>

                <div class="panel-body">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="date-de-naissance-parent">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="ville-parent" class="col-sm-2 control-label">Ville</label>

                <div class="panel-body">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ville-parent">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="relation-parent" class="col-sm-2 control-label">Relation</label>

                <div class="panel-body">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="relation-parent" placeholder="Père, Mère, Autre (précisez)">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="rue" class="col-sm-2 control-label">Rue</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="rue">
            </div>
        </div>

        <div class="form-group">
            <label for="rue2" class="col-sm-2 control-label">Rue (ligne 2)</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="rue2">
            </div>
        </div>

        <div class="form-group">
            <label for="ville" class="col-sm-2 control-label">Ville</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="ville">
            </div>
        </div>

        <div class="form-group">
            <label for="code-postal" class="col-sm-2 control-label">Code postal</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="code-postal">
            </div>
        </div>

        <div class="form-group">
            <label for="telephone" class="col-sm-2 control-label">Téléphone</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="telephone">
            </div>
        </div>

        <div class="form-group">
            <label for="courriel" class="col-sm-2 control-label">Courriel</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="courriel">
            </div>
        </div>

        <div class="form-group">
            <label for="numero-licence" class="col-sm-2 control-label">Numéro de licence</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="numero-licence">
            </div>
        </div>

        <div class="form-group">
            <label for="grade" class="col-sm-2 control-label">Grade</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="grade">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" class="form-control" name="type-inscription" id="premiere-inscription">Première inscription au club
                </label>
                <label class="btn btn-default active">
                    <input type="radio" class="form-control" name="type-inscription" id="reinscription">Ré-inscription
                </label>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Autorisations et assurance</div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-9" id="autorisation-image-texte"></div>

            <div class="col-sm-3">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" class="form-control" name="autorisation-image" id="autorisationImageOui">OUI
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" class="form-control" name="autorisation-image" id="autorisationImageNon">NON
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group alert-danger">
            <div class="col-sm-9" id="assurance-texte"></div>
            <div class="col-sm-3">
                <label>Lu et approuvé
                    <input type="checkbox" class="form-control" name="lu-et-approuve">
                </label>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Tarifs et moyens de paiement</div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">Inscription</label>

            <div class="col-sm-10 btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" class="form-control" name="mode-inscription" id="annee">À l'année
                </label>
                <label class="btn btn-default">
                    <input type="radio" class="form-control" name="mode-inscription" id="trimestre">Au trimestre
                </label>
                <label class="btn btn-default">
                    <input type="radio" class="form-control" name="mode-inscription" id="mois">Au mois
                </label>
                <label class="btn btn-default">
                    <input type="radio" class="form-control" name="mode-inscription" id="carnet">Au carnet de 10 cours (80€)
                </label>
            </div>
        </div>

        <div id="single-form" class="form-group">
            <div class="col-sm-offset-2 col-sm-10 btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" class="form-control" name="seul" id="seul">Seul(e)
                </label>
                <label class="btn btn-default">
                    <input type="radio" class="form-control" name="seul" id="couple">En couple
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Tarif</label>

            <p id="tarif" class="form-control-static"></p>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Moyen de paiement</label>

            <div class="col-sm-10 btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" class="form-control" name="moyen-paiement" id="cheque">Chèque
                </label>
                <label class="btn btn-default">
                    <input type="radio" class="form-control" name="moyen-paiement" id="especes">Espèces
                </label>
            </div>
        </div>

        <div id="cheque-form">
            <div id="mensualites" class="form-group">
                <label class="col-sm-2 control-label">Mensualités</label>

                <div class="col-sm-10 btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" class="form-control" name="mensualite" id="1">1 fois
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" class="form-control" name="mensualite" id="2">2 fois
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" class="form-control" name="mensualite" id="3">3 fois
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="titulaireCheque" class="col-sm-2 control-label">Titulaire d(u)(es) chèque(s)</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="titulaire-cheque">
                </div>
            </div>

            <div class="form-group">
                <label for="banque" class="col-sm-2 control-label">Banque</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="banque">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Générer le PDF</button>
    </div>
</div>
<!--<iframe id="iframe" width="700" height="900"></iframe>-->
</form>

<!-- Modal -->
<div class="modal fade" id="are-you-sure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="myModalLabel">Attention</h4>
            </div>
            <div class="modal-body">
                Vous devez avoir lu et approuvé les informations concernant l'assurance pour générer le pdf.
            </div>
        </div>
    </div>
</div>