---
section : Inscriptions
page : Inscriptions
title : Inscriptions
---

<div class="container">
    <h2>Inscriptions</h2>

    <p>Les inscriptions pour la saison sont effectuées courant septembre et octobre. Une permanence est assurée au Club durant cette période. Il est également possible de s'inscrire en cours de saison. N'hésitez pas à contacter le Club pour tout renseignement complémentaire.</p>

    <h3>Formalités</h3>

    <ul>
        <li>Remplir et signer la fiche individuelle d'inscription (signature du représentant légal pour les mineurs) Fiche disponible en téléchargement et sur place.</li>
        <li>Remplir l'imprimé de demande de licence FFAAA que vous fournira le Club</li>
        <li>Présenter votre dossier d'inscription au secrétariat du Club</li>
    </ul>

    <h3>Pièces à fournir</h3>

    <ul>
        <li>Une adresse Email valide ou 3 enveloppes timbrées libellées à votre nom et adresse.</li>
        <li>Chèque(s) ou espèces. (possibilité de paiement en plusieurs fois possible - voir sur place)</li>
        <li>Un certificat médical (<strong>INDISPENSABLE DÈS LE PREMIER COURS</strong>)</li>
    </ul>

    <h3>Prix des cours</h3>

    <table class="table">
        <tr>
            <td><strong>Adultes (Homme)</strong></td>
            <td>237€</td>
        </tr>
        <tr>
            <td><strong>Adultes (Femme)</strong></td>
            <td>198€</td>
        </tr>
        <tr>
            <td><strong>Couples</strong></td>
            <td>198€/pers.</td>
        </tr>
        <tr>
            <td><strong>Adolescents</strong></td>
            <td>168€</td>
        </tr>
        <tr>
            <td><strong>Enfants (8 à 12 ans)</strong></td>
            <td>114€</td>
        </tr>
    </table>
</div>