---
section : Stages
page : Stages
title : Stages
slick : true
---

<h2>Stages</h2>
<ul>
	<li>Samedi 7 octobre 2017 : stage international dirigé par Christian Tissier. le Président de la FFAAA lui remettra officiellement le grade de 8ème Dan UFA. <a href="images/aikido/tissier2017.jpg">(Affiche)</a></li>
	<li>Samedi 14 et Dimanche 15 octobre  2017 : Stage d'ouverture de la saison, animé par Arnaud Waltz, 6° Dan, à Saint Pierre de Varengeville<a href="images/aikido/Ouverture-2.pdf">(Affiche)</a></li>
</ul>
