---
section : Ressources
page : Liens utiles
title : Ressources - liens utiles
order : 1
---

<div class="container">
    <h2>Liens utiles</h2>

    <h3>Institutionnels</h3>
    <ul>
        <li><a href="http://www.aikikai.or.jp/eng/index.htm">HOMBU DOJO</a> - <span class="text-success">Site de l'Aïkikai de Tokyo </span>
        </li>
        <li><a href="http://aikido-international.org/index.php?option=com_frontpage&amp;Itemid=1">FIA (IAF)</a> - <span
                class="text-success">Site de la Fédération internationale d'Aïkido</span></li>
        <li><a href="http://www.aikido.com.fr">FFAAA FRANCE</a> - <span class="text-success">Site officiel de la Fédération Francaise d'Aïkido - Aïkibudo et Affinitaires</span>
        </li>
        <li><a href="http://www.aikido-haute-normandie.com/">FFAAA H.N.</a> - <span class="text-success">Site officiel de la FFAAA ligue de Haute Normandie</span>
        </li>
        <li><a href="http://www.aikido-idf-ffaaa.fr/">FFAAA I.D.F.</a> - <span class="text-success">Site officiel de la FFAAA ligue d'Ile de France</span>
        </li>
    </ul>

    <h3>Autres</h3>
    <ul>
        <li><a href="http://www.aikido-palmier.com/">BERNARD PALMIER (7ème dan) </a> - <span class="text-success">Dojo de la sacamp - ACT - DTR Ile de France</span>
        </li>
        <li><a href="http://www.aikido-noel.com/">FRANCK NOEL (7ème dan)</a> - <span class="text-success">Toulouse (31) Dojo de la roseraie</span>
        </li>
        <li><a href="http://www.cma-aikido.fr/">ARNAUD WALTZ (6ème dan)</a> - <span class="text-success">Aubervilliers (93) - DTR Nord-pas-de-Calais </span>
        </li>
        <li><a href="http://aikidobonneuil.com/">PASCAL NORBELLY (6ème dan) </a> - <span class="text-success">Aïkido C.S.M. Bonneuil (94) - DTR Picardie </span>
        </li>
        <li><a href="http://aikidocluberagny.free.fr/">PASCAL DURCHON (5ème dan) </a> - <span class="text-success">Aïkido Eragny (95)</span>
        </li>
        <li><a href="http://www.aikido-forbach.com/">LAURENT FEY (4ème dan)</a> - <span class="text-success">Aïkido Éragny (95)</span>
        </li>
        <li><a href="http://www.stages-aikido.fr/">STAGES AÏKIDO</a></li>
        <li><a href="http://www13.big.or.jp/%7Eaikikai/index.html">AIKIKAI Ibaraki Branch Dojo</a></li>
        <li><a href="http://yamaguchi-aikido.com/">YAMAGUCHI SEIGO SENSEI</a> - <span
                class="text-success">site officiel</span></li>
        <li><a href="http://homepage3.nifty.com/aikido_sakudojo/">ENDO SEISHIRÔ SENSEI</a> - <span class="text-success">site officiel</span>
        </li>
    </ul>
</div>