<div class="sidepanel panel panel-info">
    <div class="panel-heading">Actualités</div>
	<ul>
		<li>5 septembre 2017 : reprise des cours adulte</li>
		<li>10 septembre 2017 :  démonstration et permanence au <a href="http://www.vernon27.fr/actualites/le-village-des-associations/">forum des associations de Vernon</a></li>
		<li>14 septembre 2017 : reprise des cours enfant (Cours assuré à 18h00 le jeudi)</li>
	</ul>

</div>

<div class="sidepanel panel panel-info">
    <div class="panel-heading">Stages à venir</div>
	<ul>
	<li>Samedi 10 juin 2018 : stage privé avec Bruno Cassard, 5° dan, élève de Bernard Palmier <a href="images/aikido/bru1.jpg">(Affiche)</a></li>
		<li>7 octobre 2017 : stage international dirigé par Christian Tissier.<a href="images/aikido/tissier2017.jpg">(Affiche)</a></li>
		<li>14 et 15 octobre  2017 : Stage d'ouverture de la saison, animé par Arnaud Waltz<a href="resources/Ouverture-2.pdf">(Affiche)</a></li>
	</ul>
</div>
