<div class="sidepanel panel panel-info">
    <div class="panel-heading">Actualités</div>
    <div class="panel-body">
        <div class="news-title">Fermeture estivale</div>
        <p>Le dojo est fermé pendant Juillet et Août</p>
        <ul>
            <li>Reprise adultes le 04/09 à 19h45</li>
            <li>Reprise ados le 11/09 à 18h30</li>
            <li>Reprise enfants le 16/09 à 17h30</li>
        </ul>
    </div>
</div>
