<div class="sidepanel panel panel-info">
    <div class="panel-heading"><img src="images/facebook.png">&nbsp;&nbsp;&nbsp;Actualités</div>
<ul><li><a href="https://www.facebook.com/aikido.vernon.9">Suivez notre actualité sur notre page facebook</a></ul></li>
</div>

<div class="sidepanel panel panel-info">
    <div class="panel-heading">Stages à venir</div>
	<ul>
	<li>Samedi 10 juin 2018 : stage privé avec Bruno Cassard, 5° dan, élève de Bernard Palmier <a href="images/aikido/bru1.jpg">(Affiche)</a></li>
		<li>7 octobre 2017 : stage international dirigé par Christian Tissier.<a href="images/aikido/tissier2017.jpg">(Affiche)</a></li>
		<li>14 et 15 octobre  2017 : Stage d'ouverture de la saison, animé par Arnaud Waltz<a href="resources/Ouverture-2.pdf">(Affiche)</a></li>
	</ul>
</div>
