<div class="sidepanel panel panel-info">
    <div class="panel-heading">Actualités</div>
    <div id="actualites-side" class="panel-body markdown"></div>
</div>

<div class="sidepanel panel panel-info">
    <div class="panel-heading">Stages à venir</div>
    <div id="stages-side" class="panel-body">
        <ul></ul>
    </div>
</div>
